!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no", name: "viewport"}
    = yield(:title)
    = stylesheet_link_tag :application, :media => 'all'
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    / = render 'flashes'
    - if current_user
      = current_user.inspect
      = link_to "Sign out", signout_path
    - else
      = link_to "Sign in with Github", "/auth/github"
    = yield
